.Play-Area {
	display: block;
	position: relative;
	width: 100%;
	height: 500px;
}
.Card-Area {
	position: relative;
	width: 40%;
	height: auto;
	margin: 0% auto;
	top: 3%;
	left: 0%;
	right: 0;
	background: #000;
	text-align: center;
	font-size: 22px;
	border: 3px solid #000;
	border-radius: 20px;
}
.Player-Count-Label {
	color: #FFFFFF;
	font-size: 1.3em;
}
.Player-Count {
	width: 7%;
	text-align: center;
	font-size: 1em;
}
.Button {
	margin: 2% 0%;
	padding: 0% 3%;
	font-size: 29px;
	background: #A9A9A9;
	color: #FFF;
	border-radius: 20px;
	border-style: none;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.Button:active {
	background: #ECE9E9;
}
.Result {
	width: 60%;
	min-height: 1em;
	margin: 2% auto 0%;
	padding: 3% 0%;
	background: #A9A9A9;
	color: #FFF;
	font-size: 1.3em;
	border-radius: 20px;
}
.Hand {
	position: relative;
	width: 80%;
	margin: 3% auto;
	padding: 4% 1%;
	left: 0;
	right: 0;
	bottom: 7%;
	background: #A9A9A9;
	text-align: center;
	border: 2px solid #000;
	border-radius: 20px;
}
.Card {
	display: inline-block;
	width: 10%;
	padding: 2% 0;
	margin: 0% 3%;
	background: #FFF;
	border: 2px solid #000;
	-webkit-transition: tranform 0.5s ease-in-out;
	transition: transform 0.5s ease-in-out;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
	-moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.Red-Card {
	color: #000;
	border-color: #000;
}
.Black-Card {
	color: #C00;
	border-color: #C00;
}
.Selected {
	transform: translate(0, -29%);
	border-color: #FEED34 !important;
}
.Discard {
	animation: fadeOutUp 4s;
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
	.Card-Area {width: 80% !important; padding: 2% 0 0 !important;}
	.Button {margin: 4% 1% 2% !important; padding: 1% 2% !important;}
	.Card {padding: 3% 0 !important;}
}
@media screen and (max-width: 767px) {
	.Card-Area {width: 95% !important; padding: 3% 0 0 !important;}
	.Player-Count-Label {font-size: 1em !important;}
	.Player-Count {width: 12% !important; font-size: 0.8em !important;}
	.Button {margin: 2% 0 !important; padding: 0 4% !important; font-size: 1em !important;}
	.Result {width: 80% !important; font-size: 1em !important;}
	.Card {width: 2em !important; margin: 0% 1% !important; padding: 3% 1% !important; font-size: 0.7em !important;}
}

/*Extra*/
.Button::-moz-focus-inner {border: none;}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}